server:
  port: 8080
spring:
  application:
    name: gateway
eureka:
  client:
    service-url:
#      defaultZone: http://localhost:8761/eureka/
      defaultZone: http://172.17.0.2:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

zuul:
  routes:
    authentication-ms:
#      url: http://localhost:8081
      url: http://172.17.0.4:8081
      path: /auth-ms/**
    project-ms:
#      url: http://localhost:8082
      url: http://172.17.0.5:8082
      path: /project-ms/**



logging:
  level:
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
management:
  info:
    env:
      enabled: true




